<div class="container-all" (window:wheel)="scroll($event)">
    <app-navbar [links]="links" [translateY]="translateY" (clickedElIdx)="scrollTo($event)"></app-navbar>
    <div class="arrow bounce" [ngClass]="translateY==links.length?'display-none':''"><i class="fa fa-angle-down fa-5x"
            aria-hidden="true" style="color:#FF6363" (click)="scrollDown()"></i></div>
    <div class="container-sub"
        [ngStyle]="{'transition': ''+slideTimer+'ms', 'width': width, 'transform': 'translateY(-' + translateY*100 + 'vh)'}">
        <div class="full-page" id="about-me">
            <div class="name-highlight">
                <div class="name" style="color:white;">SHREY<span style="color:#FF6363">/</span>DIXIT</div>
                <div class="highlight">{{ typewriter_display }} <span class="blink">|</span></div>
            </div>
        </div>
        <div class="full-page">
            <div class="padding-div">
                <div class="about-heading">
                    <span style="color:black;">About </span>
                    <span style="color:#FF6363;">Me</span>
                </div>
                <div class="about-para">
                    <p>Hi, I'm Shrey! I'm a Software Developer focused on biilding clean websites and interpretable
                        Machine Learning models!</p>
                </div>
                <div class="skills">
                    <app-skills [skills]="skills"></app-skills>
                </div>
            </div>
        </div>
    </div>
</div>