.about-me {
    background: url("https://images.unsplash.com/photo-1611647832580-377268dba7cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80") no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    object-position: center;
    object-fit: contain;
}

.about-me .name {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 7px;
}

.highlight {
    color: white;
    font-weight: 200;
    font-size: 17.4px;
}

.name-highlight {
    text-align: center;
}

.full-page {
    height: 100vh;
}