<div class="container-all" (window:wheel)="scroll($event)">
    <app-navbar [links]="links" [translateY]="translateY" (clickedElIdx)="scrollTo($event)"></app-navbar>
    <div class="container-sub"
        [ngStyle]="{'transition': ''+slideTimer+'ms', 'width': width, 'transform': 'translateY(-' + translateY*100 + 'vh)'}">
        <div class="full-page" id="about-me">
            <div class="name-highlight">
                <div class="name" style="color:white;">SHREY<span style="color:#FF6363">/</span>DIXIT</div>
                <div class="highlight">{{ typewriter_display }} <span class="blink">|</span></div>
            </div>
        </div>
        <div class="full-page" id="section-2">
            <div class="padding-div">
                <app-skills [skills]="skills"></app-skills>
            </div>
        </div>
        <div class="full-page" id="section-3">
            <p>Hello 2</p>
        </div>
        <div class="full-page" id="section-4">
            <p>Hello 3</p>
        </div>
        <div class="full-page" id="section-5">
            <p>Hello 4</p>
        </div>
    </div>
</div>