.wrapper {
    display: grid;
    place-items: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: 250ms;
}

.skill-slide {
    margin: 0 auto;
    position: relative;
}
