.wrapper {
    display: grid;
    place-items: center;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: 250ms;
}

.skill-slide {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}

img {
    max-height: 150px;
    max-width: min(400px, 90%);
}

h1,
h2 {
    text-align: center;
}
